html {
  background-color: #171717;
  color: #e4e4e7;
  font-family: monospace;
  font-size: 16px;
  max-width: 50rem;
  margin: 0 auto;
}

#posts {
  display: table;
  border-spacing: 1ch 0;
}
.post {
  display: table-row;
}
.username {
  display: table-cell;
  text-align: right;
  font-weight: bold;
}
.username::before {
  content: "[";
}
.username::after {
  content: "]";
}
.postContent {
  display: table-cell;
  white-space: pre-wrap;
}
